<!DOCTYPE html>

<html>

<head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" id="boot" />

    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" id="boot" />

    <link rel="stylesheet" href="/stylesheets/ace.css" id="main-ace-style" />

    <script src="/javascripts/jquery.min.js"></script>

</head>

<body>