<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <form id="users" method="post" action="/users">
        用户名：<input type="text" id="users"><br/>
        密&nbsp;&nbsp;码：<input type="password" id="password"><br/>
        <input type="button" value="登录" id="login"/>
    </form>
</body>
</html>